@model IEnumerable<Pokedex.Models.PokedexModel>
@{
    ViewBag.Title = "InfoPokemon";
}
<style href="..Content/index.css"></style>
<div class="row">
    <h1>Información de los pokemones</h1>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-hover">
        <tr>
            <td>
                Id
            </td>
            <td>Seq</td>
            <td>NumberPo</td>
            <td>Name</td>
            <td>Height</td>
            <td>weigth</td>
            <td>Description</td>
            <td>CreatedDate</td>
            <td>Delete-Item</td>
            <td>Edit-Item</td>
        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <td>
            @item.Id
        </td>
        <td>@item.Seq</td>
        <td>@item.NumberPo</td>
        <td>@item.Name</td>
        <td>@item.Height</td>
        <td>@item.Weight</td>
        <td>@item.Description</td>
        <td>@item.CreatedDate</td>
        <td class="td-Delete">@Html.ActionLink("Delete", "Delete", new { id = item.Id })</td>
        <td class="td-Edit">@Html.ActionLink("Edit", "Edit", new { id = item.Id })</td>

    </tr>
        }
    </table>

</div>
