@model IEnumerable<Pokedex.Models.PokedexTypeModel>
@{
    ViewBag.Title = "TypesQualityAndWeak";
}
<style href="..Content/index.css"></style>
<div class="row">
    <h1>Tipos de Habilidades y Debilidades Pokemon</h1>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-hover">
        <tr>
            <td>
                Id
            </td>
            <td>Seq</td>
            <td>Name</td>
            <td>Color</td>
            <td>CreatedDate</td>
            <td>Delete-Item</td>
            <td>Edit-Item</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>@item.Seq</td>
                <td>@item.Name</td>
                <td>@item.Color</td>
                <td>@item.CreatedDate</td>
                <td class="td-Delete">@Html.ActionLink("Delete", "Delete", new { id = item.Id })</td>
                <td class="td-Edit">@Html.ActionLink("Edit", "Edit", new { id = item.Id })</td>

            </tr>
        }
    </table>

</div>


